# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

# default packages for Python 3.9
ca-certificates=2021.7.5=hecd8cb5_1
certifi=2021.5.30=py39hecd8cb5_0
libcxx=10.0.0=1
libffi=3.3=hb1e8313_2
ncurses=6.2=h0a44026_1
openssl=1.1.1l=h9ed2024_0
pip=21.2.4=py37hecd8cb5_0
python=3.9.6=h88f2d9e_1
readline=8.1=h9ed2024_0
setuptools=52.0.0=py39hecd8cb5_0
sqlite=3.36.0=hce871da_0
tk=8.6.10=hb0a8c7a_0
tzdata=2021a=h5d7bf9c_0
wheel=0.37.0=pyhd3eb1b0_0
xz=5.2.5=h1de35cc_0
zlib=1.2.11=h1de35cc_3

# project specific packages
sklearn~=0.0
joblib==1.0.1
numpy==1.21.2
scikit-learn~=0.24.2
threadpoolctl==2.2.0
scipy~=1.7.1

# pytest
attrs~=21.2.0
iniconfig~=1.1.1
packaging~=21.0
pluggy~=1.0.0
py~=1.10.0
pyparsing~=2.4.7
pytest~=6.2.5
toml~=0.10.2